:root {
  --dark-green: #132a13;
  --sea-green: #198754;
  --fern-green: #337133;
  --mindaro: #bce784;

  --steel-blue: #2081c3;
  --pale-azure: #63d2ff;
  --pale-sky-blue: #b3e5fc;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
}

.page {
  padding: 5%;
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  height: fit-content;
  background: radial-gradient(
    circle,
    var(--fern-green) 10%,
    var(--dark-green) 200%
  );
  align-items: center;
}

.m-2 {
  margin: 5px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.fit-content {
  min-width: fit-content;
  min-height: fit-content;
}
.box {
  /* width: fit-content; */
  /* height: fit-content; */
  background: linear-gradient(
    90deg,
    var(--dark-green) -100%,
    var(--fern-green) 45%,
    var(--fern-green) 58%,
    var(--dark-green) 200%
  );
  padding: 20px;
  border-radius: 10px;
  border: #295b29 1px solid;
  box-shadow: 0 0 10px 0 var(--dark-green);
  margin: 10px;
  text-wrap: wrap;
}

form {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
fieldset {
  background: linear-gradient(
    180deg,
    var(--sea-green) -100%,
    var(--fern-green) 20%,
    #1a3a1a 55%,
    var(--fern-green) 90%,
    var(--sea-green) 200%
  );
  border-radius: 10px;
  /* border: none;
  padding: 0;
  margin: 0; */
}

legend {
  padding: 0;
  margin: 0;
  font-weight: bold;
}

input[type="text"] {
  box-sizing: border-box;
  padding: 5px;
  margin: 0;
  width: 100%;
  background: transparent;
  border: none;
  color: white;
}

input[type="submit"] {
  margin-top: 7px;
  padding: 5px;
  border-radius: 5px;
}

.fixed-responsive-width {
  width: 70vw !important;
  max-width: 600px !important;
}

.large-text {
  font-size: 4rem;
}

.medium-text {
  font-size: 2rem;
}

.small-text {
  font-size: 1.3rem;
}
